/* This css for small devices only */

@media screen and (max-width: 570px) {
  .body {
    margin: 0 10px;
  }
  .navbar {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  /* banner section */

  .banner {
    flex-direction: column;
  }

  .product-categories {
    flex-direction: column;
  }

  .card-container-1 {
    flex-direction: column;
    align-items: center;
  }
}
