/* This css for small devices only */

@media screen and (max-width: 570px) {
  .sub-header {
    margin: 0 10px;
  }
  .main {
    margin: 0;
  }
  .navbar {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  /* banner section */

  .banner {
    flex-direction: column;
  }

  .product-categories {
    flex-direction: column;
  }

  .card-container-1 {
    flex-direction: column;
    align-items: center;
  }

  /*footer area */

  .subscribe input::placeholder {
    font-size: 1.5vh;
  }
  .footer-btn {
    font-size: 1.5vh;
  }
}
